<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js1" />
  <arg name="nodelets_output" default="log" />
  <arg name="is_bag" default="false" />

  <rosparam command="load" file="$(find bebop_hri)/config/bebop.yaml" />

  <include file="$(find bebop_tools)/launch/joy_teleop.launch">
    <arg name="joy_dev" value="$(arg joy_dev)" />
    <arg name="teleop_config" value="$(find bebop_hri)/config/log710.yaml" />
  </include>

  <include file="$(find bebop_hri)/launch/behavior.launch">
    <arg name="param_file" value="$(find bebop_hri)/config/behavior.yaml" />
  </include>

  <include file="$(find bebop_vel_ctrl)/launch/bebop_vel_ctrl.launch">
    <arg name="param_file" value="$(find bebop_vel_ctrl)/config/bebop_vel_ctrl.yaml" />
    <arg name="output" value="log" />
    <arg name="input_topic" value="vservo/cmd_vel" />
    <arg name="output_topic" value="velctrl/cmd_vel" />
  </include>

  <include file="$(find bebop_vservo)/launch/bebop_vservo.launch">
    <arg name="param_file" value="$(find bebop_vservo)/config/bebop_vservo.yaml" />
    <arg name="output" value="screen" />
  </include>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <remap from="cmd_vel_out" to="/bebop/cmd_vel" />
    <rosparam file="$(find bebop_hri)/config/twist_mux.yaml" command="load"/>
    <rosparam file="$(find bebop_hri)/config/twist_mux_locks.yaml" command="load"/>
  </node>

  <!-- nodelets -->
  <node pkg="nodelet" type="nodelet" args="manager" name="bebop_nodelet_manager" output="$(arg nodelets_output)">
    <param name="num_worker_threads" value="4" />
  </node>

  <group unless="$(arg is_bag)">
    <node ns="bebop" pkg="nodelet" type="nodelet" name="bebop_nodelet"
      args="load bebop_driver/BebopDriverNodelet /bebop_nodelet_manager">
        <param name="camera_info_url" value="package://bebop_driver/data/bebop_camera_calib.yaml" />
        <param name="bebop_ip" value="192.168.42.1" />
        <rosparam command="load" file="$(find bebop_driver)/config/defaults.yaml" />
    </node>
  </group>

  <include file="$(find cftld_ros)/launch/cftld_nodelet.launch">
    <arg name="output" value="$(arg nodelets_output)" />
    <arg name="spawn_nodelet_manager" value="false" />
    <arg name="nodelet_manager" value="bebop_nodelet_manager" />
    <arg name="cftld_param_file" value="$(find cftld_ros)/config/default.yaml" />
    <arg name="cftld_config_file" value="$(find cftld_ros)/config/cftld.cfg" />
  </include>

</launch>
